<div class="px-4 xl:px-0 w-full max-w-[1200px] mx-auto my-5">
    <section class="flex items-center justify-center ">
        <div class="mb-6">
            <h2 class="oranienbaum-regular color-title text-5xl ">Comercios CCRPagos</h2>
        </div>
    </section>
    <section class="grid grid-cols-3 gap-9">
        <div class="border rounded-3xl bg-gray-900 text-white ">
            <div class="text-center">
                <h4 class="oranienbaum-regular color-title text-2xl ">Desarrollo</h4>
            </div>
            <div class="pl-10">
                <ul class="list-disc color-title pb-3">
                    <li ><h5 class="text-white text-lg">Hola1</h5></li>
                </ul>
            </div>
        </div>
        <div class="border  rounded-3xl bg-gray-900 text-white">
            <div class="text-center">
                <h4 class="oranienbaum-regular color-title text-2xl">Calidad</h4>
            </div>
            <div class="pl-10">
                <ul class="list-disc color-title pb-3">
                    <li ><h5 class="text-white text-lg">Hola1</h5></li>
                </ul>
            </div>
        </div>
        <div class="border rounded-3xl bg-gray-900 text-white">
            <div class="text-center">
                <h4 class="oranienbaum-regular color-title text-2xl">Producción</h4>
            </div>
            <div class="pl-10">
                <ul class="list-disc color-title pb-3">
                    <li ><h5 class="text-white text-lg">Hola1</h5></li>
                </ul>
            </div>
        </div>
    </section>
</div>