<div class="px-4 xl:px-0 w-full max-w-[1200px] mx-auto my-10">
    <section class="m-auto flex justify-center items-center">
        <h3 class="oranienbaum-regular color-title text-3xl md:text-6xl">{{this.comercioInfo$.fullName | capitalize }}</h3>
    </section>
</div>

<div class="px-4 xl:px-0 w-full max-w-[1200px] mx-auto">
    <section class="m-auto flex ">
        <h3 class="oranienbaum-regular color-title text-xl md:text-3xl ml-48">Últimas actualizaciones</h3>
    </section>

</div>
<section class="px-4 xl:px-0 w-full max-w-[1200px] mx-auto my-7 flex justify-center items-center">
    <ol class="border-s-2 border-info-100 w-3/6">
        <div class="flex items-center gap-x-4">
            <a
              class="text-sm flex text-nowrap items-center gap-x-2 hover:text-gray-300 transition-[color] ease-in-out duration-200 p-4 cursor-pointer"
              (click)="createTimeline()" 
            >
              <app-icon-plus class="size-4" />
              Crear
            </a>
          </div>
        @for (item of timelinesComercio$ ; track item.id) {
            <li >
                <div class="flex-start md:flex">
                    <div class="-ms-[15px] flex h-[30px] w-[30px] items-center justify-center rounded-full bg-white text-black">
                        <app-icon-calendar /> 
                    </div>
                    <div class="mb-10 ms-6 block max-w-md rounded-lg bg-gray-900 p-6 shadow-md shadow-black/5  w-3/4">
                        <div class="mb-4 flex justify-between">
                        <!-- <a
                            href=""
                            class="text-sm text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
                            >New Web Design</a
                        > -->
                        <a
                            href=""
                            class="text-sm text-info transition duration-150 ease-in-out hover:text-info-600 focus:text-info-600 active:text-info-700"
                            >            
                            {{item.fecha}}
                            </a
                        >
                        </div>
                        <p class="mb-6 text-neutral-200">
                            {{item.description}}
                        </p>
                        <!-- <button
                        type="button"
                        class="inline-block rounded bg-info px-4 pb-[5px] pt-[6px] text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#54b4d3] transition duration-150 ease-in-out hover:bg-info-600 hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-info-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-info-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(84,180,211,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.2),0_4px_18px_0_rgba(84,180,211,0.1)]"
                        data-twe-ripple-init
                        data-twe-ripple-color="light">
                        Preview
                        </button>
                        <button
                        type="button"
                        class="inline-block rounded border-2 border-info px-4 pb-[3px] pt-[4px] text-xs font-medium uppercase leading-normal text-info transition duration-150 ease-in-out hover:border-info-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-info-600 focus:border-info-600 focus:text-info-600 focus:outline-none focus:ring-0 active:border-info-700 active:text-info-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
                        data-twe-ripple-init>
                        See demo
                        </button> -->
                    </div>
                </div>
            </li>
        }
        

    </ol>
</section>

