<div class="flex flex-wrap items-center mb-2">
    <section class="w-full md:w-2/4 flex justify-center content-center md:justify-start md:content-start">
        <div class="md:ml-28 text-center md:text-left">
            <h1 class="text-4xl md:text-6xl oranienbaum-regular color-title">Estatus de </h1>
            <h1 class="text-4xl md:text-6xl oranienbaum-regular color-title">comercios</h1>
            <h1 class="text-4xl md:text-6xl oranienbaum-regular color-title">Credicard Pagos </h1>
        </div>
    </section>
    <section class="w-full md:w-2/4 flex justify-center content-center md:justify-end md:content-end ">
        <div  class="h-64 w-64 md:h-96 md:w-96 bg-no-repeat bg-contain bg-center" style="background-image: url('../../../assets/img/ccr-logo.png');">
        </div>
    </section>
</div>